{% extends "public/templates/public_template.html" %}

{% block title %}Categories{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Categore {{ categories['mouse']['name'] }}</h1>
            <h3>
                products list
            </h3>
            <hr>
            <ul>
                {% for k, v in categories['mouse'].items() %}
    
                <li>{{ k }}: {{ v }}</li>
    
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}