{% extends "public/templates/public_template.html" %}

{% block title %}ORders{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        <div class="col">
            <h1>Orders</h1>
            <hr>


        </div>
    </div>
</div>
<a href="/">Back home</a>
{% endblock %}

<!–  
    orders = {
    "orderAnaJose": {
        "seller": users["ana"],
        "buyer": users["josé"],
        "price": 57.87,
        "mensages": [chats["mensagesAnaJose1"],chats["mensagesJoseAna1"],chats["mensagesAnaJose2"],chats["mensagesJoseAna2"]],
        "status": "open",
        "products": [products["mouse razer krak"]]
    }
}  
–>